@tailwind base;
@tailwind components;
@tailwind utilities;


    body{
      background-color: #111;
    }


 

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-out;
}

.fade-in-active {
  opacity: 1;
}


.input-transition {
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
}


.button-transition {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {  
  transform: scale(1.05); 
}
/* 
Image hover effect
.image-hover:hover {
  transform: scale(1.01);  
  transition: transform 0.5s ease-out; 

} */

/* .adminMain {
width:100% !important;
margin:0px 0px 0px 0px !important;

} */


body::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #FF9B00; /* Apply the orange color */
  border-radius: 20px; /* Round edges */
  background-image: -webkit-linear-gradient(
    90deg,
    rgba(255, 155, 0, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 155, 0, 0.5) 50%,
    rgba(255, 155, 0, 0.5) 75%,
    transparent 75%,
    transparent
  );
}

body::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray for the track */
}